In [9]:
student = {
    "name" : "Rahul Kumar",
    "subjects" : {
        "Phy" :97,
        "chem" : 98,
        "math" : 100
    }
}

In [13]:
print(student.keys())

dict_keys(['name', 'subjects'])

In [15]:
print(list(student.keys()))

['name', 'subjects']

In [21]:
print(len(list(student.keys())))

2

In [23]:
print(list(student.values()))

['Rahul Kumar', {'Phy': 97, 'chem': 98, 'math': 100}]

In [25]:
print(student.items())

dict_items([('name', 'Rahul Kumar'), ('subjects', {'Phy': 97, 'chem': 98, 'math': 100})])

In [27]:
print(list(student.items()))

[('name', 'Rahul Kumar'), ('subjects', {'Phy': 97, 'chem': 98, 'math': 100})]

In [33]:
print(student["name"])

Rahul Kumar

In [35]:
print(student.get("name"))

Rahul Kumar

In [39]:
print(student.get("name2"))

None

In [41]:
#it is good to use the dict.get() method because it will return None if no such key exists in the dictionary, while the earlier will return error and crash the program.

In [43]:
collection = {1,2,3,"Hello",2,2,3,3}

In [47]:
print(type(collection))

<class 'set'>

In [49]:
print(collection)

{1, 2, 3, 'Hello'}

In [51]:
print(list(collection))

[1, 2, 3, 'Hello']

In [53]:
print(collection)

{1, 2, 3, 'Hello'}

In [59]:
names = ["James", "Arun", "Jane", "Sarath", "Jimmy"]

j_names = []

In [63]:
for name in names:
    if "J" in name:
        j_names.append(name)

print(j_names)

['James', 'Jane', 'Jimmy']

In [65]:
names_copy = []
for name in names:
    names_copy.append(name)

In [67]:
print(names_copy)

['James', 'Arun', 'Jane', 'Sarath', 'Jimmy']

In [69]:
result = {10*i for i in range(1,11)}
print(result)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [71]:
print(result)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [75]:
result = [10*i for i in range(1,11)]

In [77]:
print(result)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [81]:
tuple_compr = tuple( 10 * i for i in range(1,11))

In [83]:
print(tuple_compr)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [85]:
even_list = [ 10 * i for i in range(1,11) if i%2 == 0 ]

In [87]:
print(even_list)

[20, 40, 60, 80, 100]

In [91]:
odd_list = tuple( 10 * i for i in range(1,11) if i%2 != 0 )

In [93]:
print(odd_list)

(10, 30, 50, 70, 90)

In [95]:
list(range(10,101,10))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [99]:
tuple(range(3,301,3))

(3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297,
 300)

In [101]:
result = [(x,y) for x in range(1,5) for y in range(1,4)]

In [103]:
print(result)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3), (4, 1), (4, 2), (4, 3)]

In [107]:
list(range(2,101,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [111]:
from array import *

vals = array('i', [5,4,9,2,1])

for i in range(0, len(vals)):
    print(vals[i])

5
4
9
2
1

In [113]:
print(len(vals))

5

In [115]:
def calc_sum(a,b):
    sum = a+b
    return sum

In [117]:
calc_sum(5,6)

11

In [5]:
 coordinates = [(x,y) for x in range (1,5) for y in range (1,4)]

In [11]:
print(coordinates)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3), (4, 1), (4, 2), (4, 3)]

In [13]:
student = {
    "Name" : "Arun",
    "Age" : 25,
    "marks" : { "Phy" : 71, "Chem" : 88, "Maths" : 91 }
}

In [15]:
print(student)

{'Name': 'Arun', 'Age': 25, 'marks': {'Phy': 71, 'Chem': 88, 'Maths': 91}}

In [17]:
print(student)

{'Name': 'Arun', 'Age': 25, 'marks': {'Phy': 71, 'Chem': 88, 'Maths': 91}}

In [19]:
print(student["Name"])

Arun

In [21]:
student["Name"] = "Raju"

In [23]:
print(student)

{'Name': 'Raju', 'Age': 25, 'marks': {'Phy': 71, 'Chem': 88, 'Maths': 91}}

In [25]:
for i in range (1,10,2):
    print(i)

1
3
5
7
9

In [21]:
# wap to find prime numbers from the given set and add them to a new set
sample = {3, 4, 7, 10, 13, 17, 20, 23, 25, 29}
sample_prime = set()
for item in sample:
    if item > 1:
        flag = 0
        for i in range (2,item):
            if item % i == 0:
                flag = 1
                break
        if flag == 0:
            sample_prime.add(item)

print("Prime numbers in the given set are: ", sample_prime)

Prime numbers in the given set are:  {3, 7, 13, 17, 23, 29}

In [23]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [25]:
tuple(range(2,11,2))

(2, 4, 6, 8, 10)

In [27]:
abcd = list(range(100,0,-1))

In [29]:
print(abcd)

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [31]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [35]:
# wap to print buzz if the number is a divisible of 3, fizz if its a divisible of 5, and buzz fizz if the number is divisible of both, for the numbers from 1 to 50
for i in range(1,51):
    if i % 3 == 0 and i % 5 == 0:
        print(i,"buzz fizz")
    elif i % 3 == 0:
        print(i,"Buzz")
    elif i % 5 == 0:
        print(i,"Fizz")
    else:
        print(i)

1
2
3 Buzz
4
5 Fizz
6 Buzz
7
8
9 Buzz
10 Fizz
11
12 Buzz
13
14
15 buzz fizz
16
17
18 Buzz
19
20 Fizz
21 Buzz
22
23
24 Buzz
25 Fizz
26
27 Buzz
28
29
30 buzz fizz
31
32
33 Buzz
34
35 Fizz
36 Buzz
37
38
39 Buzz
40 Fizz
41
42 Buzz
43
44
45 buzz fizz
46
47
48 Buzz
49
50 Fizz

In [39]:
num1 = int(input("Enter a number"))
num2 = int(input("Enter another number"))

if num1 > num2:
    print("First number is greater")
elif num2 > num1:
    print("Second number is greater")
else:
    print("Entered numbers are equal")

Enter a number 5
Enter another number 5

Entered numbers are equal

In [41]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [43]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
i = 10

while i >= 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0

In [47]:
#wap to accept to elements from the user, add that to a ist, find the average of the elements entered, and if the average is present in the list, print it

my_list = []
my_list.append(int(input("Enter first element in the list")))
my_list.append(int(input("Enter second element in the list")))
my_list.append(int(input("Enter third element in the list")))

my_list_avg = (my_list[0] + my_list[1] + my_list[2])/3

for item in my_list:
    if my_list_avg == item:
        print(item)

Enter first element in the list 11
Enter second element in the list 12
Enter third element in the list 13

12